
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  header, footer {
    padding: 10px;
    color: white;
    background-color: lightgreen;
  }
section{display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;

}

  article.left_article, aside {
      background-color: mediumblue;
  float: left;
  width: 25%;
  /* height: 700px; */
  padding: 15px;
}
article {
    background-color: lightskyblue;
    float: left;
    width: 50%;
    /* height: 700px; */
    padding: 15px;
    /* margin-bottom: auto; */
  }
section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  nav ul {
      background-color: mediumseagreen;
    padding: 10px;
    margin:0px;
  }
  
  nav ul li {
    display: inline;
    margin: 5px;
  }